*{
    box-sizing: border-box;
    --background-green: #EEF9BF;
    --title-green: #75B79E;
    --card-green: #A7E9AF;
}

body{
    background-color: var(--background-green);
}

.title{
    margin-top: 40px;
    text-align: center;
}

.title > h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    color: var(--title-green);
}

.card {
    width: 200px;
    height: 250px;
    position: relative;
}

.face {
    width: 100%;
    height: 100%;
    background-color: var(--card-green);
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.back-face {
    transform: rotateY(180deg);
}

.back-face > img {
    width: 80%;
}

.back-face-flip {
    transform: rotateY(0);
}

.front-face-flip {
    transform: rotateY(-180deg);
}

.content {
    margin-top: 47px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 34px;
}

@media(max-width: 335px){

    .title > h1{
        font-size: 36px;
    }
}